{% load static %}
<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{% url 'core:index' %}">
				<img src="{% static 'img/bulma.png' %}" alt="Logo">
			</a>
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu">
			<div class="navbar-end">
				<div class=" navbar-item">
					<div class="control has-icons-left">
						<input class="input is-rounded" type="text" placeholder="Search">
						<span class="icon is-left">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>
				{% url 'core:index' as url %}
				<a class="navbar-item {% if request.path == url %}active{% endif %} is-size-5 has-text-weight-semibold"
					href="{% url 'core:index' %}">
					Home
				</a>
				{% url 'core:about' as url %}
				<a class=" navbar-item {% if request.path == url %}active{% endif %} is-size-5 has-text-weight-semibold"
					href="{% url 'core:about' %}">
					About
				</a>
			</div>
		</div>
	</div>
</nav>